@import "tailwindcss";
@plugin "daisyui" {
  themes: luxury --default;
}

.clip-triangle-backward {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
.clip-triangle-backward-alt {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.clip-triangle-forward {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}
.clip-triangle-forward-alt {
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
